{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!---formato de las ñ, letra por defecto y estilo de boostrap y hoja de estilo de nosotros-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link type="text/css"   rel="stylesheet" href="{% static 'core/estilos/style.css'%}">
    <!--titulo de la pagina y tipo de fuente de google fonts-->
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
  </head>
  



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


  <body>
    <header class="bg-white">
        <div class="row">
            {%load static%}
            <div class ="col-lg-3 col-md-4 col-12">
                <img src="{% static 'core/imagenes/logo.jpg'%}"class="img-fluid">
            </div> 
            <div class="col-lg col-md col bg-gradient">
              <h1 class="mt-5"> <a href="http://127.0.0.1:8000/"> Michiguau </a></h1>
              <P class=" ">Tienda de accesorios para tus mascotas</h2>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mt-4">
              {% if user.is_authenticated %}

              <h2 id="usuario_conectado">@{{user.username}}</h2>
    
              {% endif %}
            </div>    
        </div>
        <main>
            <div class="container">
                <header class="d-flex justify-content-center py-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a href="http://127.0.0.1:8000/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                      <a href="Sobre Nosotros" class="nav-link">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                      <a href="Tienda" class="nav-link">Tienda</a>
                    </li>
                    <li class="nav-item">
                      <a href="Contacto" class="nav-link">Contacto</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a href="{% url 'logout' %}" class="nav-link">Cerrar Sesión</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                      <a href="{% url 'login' %}" class="nav-link">Iniciar Sesión</a>
                    </li>

                    <li class="nav-item">
                      <a href="{% url 'registrar' %}" class="nav-link">Registrarme</a>
                    </li>

                    {% endif %}
                  </ul>
                </header>
            </div>        
        </main>    
    </header>

        
      


        <br><br>
        
            
            <h4 class="ONG" style="line-height: normal; text-align: center; font-size: 35px; color:black;">
                <span style="letter-spacing: normal;"> ONG Michiguau </span>
            </H4>
            <p class = "Parrafo1" style="line-height: 1.5em; text-align: center; font-size: 15px;" >   
              Amamos a los animales, entendemos que en su condición de animal están limitados al actuar instintivo,
              por lo que tratamos de dignificar su vida y dejarles en su memoria buenos recuerdos, principalmente nos dedicamos
              a rescatar perritos y gatit@s que están en situación de abandono o de calle y vagan por ahí.
              en primera instancia les recuperamos sus enfermedades parasitarias y de carácter virulentas o de transmisión por contacto
              y luego los alimentamos y le damos nutrientes para que puedan reavivar su organismo y su espíritu.... los hacemos sentir en confianza
              para que sean amigables y ahí es donde cualquier persona como tú que estás leyendo esto, participas en el nuevo proceso
              que vivirá este animalito en donde terminará su peregrinaje por esta vida y afín conocerá el amor y el cariño.
            <br>
              SE PARTE DE ESTA GRAN MISION!

            </p>

        
            <h4 class="ONG" style="line-height: normal; text-align: center; font-size: 35px; color:black;">
                <span style="letter-spacing: normal;"> Nuestro equipo </span>
            </H4>
            
            
                <div class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="row text-center text-md-left">
                        <img src="{% static 'core/imagenes/Nosotros1.jpg'%}" class="Nosotros1" >
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <img src="{% static 'core/imagenes/Nosotros2jpg'%}"  class="Nosotros2">
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <img src="{% static 'core/imagenes/Nosotros3.jpg'%}" class="Nosotros3">
                    </div>
                </div>
            

  
        

    <footer class="footer">
      <div id="row_footer" class="row">
        <div class="col-lg-2 col-md-2 col-2"></div>

        <div class="col-lg-4 col-md-4 col-4 mt-4">
          <div class="row" id="container_redes">
            <ul class="xb9fU" aria-label="Barra de redes sociales"></ul>
            <div class="col-lg-1 col-md-1 col-1">
              <a
                data-testid="linkElement"
                href="http://www.facebook.com/wix"
                target="_blank"
                class="_26AQd"
              >
                <wix-image
                  id="img_0_comp-im1spqmd"
                  class="_1-6YJ uWpzU"
                  data-image-info='{"containerId":"dataItem-im1srga8-comp-im1spqmd","displayMode":"fill","imageData":{"width":200,"height":200,"uri":"23fd2a2be53141ed810f4d3dcdcd01fa.png","displayMode":"fill"}}'
                  data-has-bg-scroll-effect=""
                  data-bg-effect-name=""
                  data-is-svg="false"
                  data-is-svg-mask="false"
                  data-image-zoomed=""
                  data-has-ssr-src=""
                  data-src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_27,h_27,al_c,usm_0.66_1.00_0.01,enc_auto/23fd2a2be53141ed810f4d3dcdcd01fa.png"
                >
                  <img
                    src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_27,h_27,al_c,usm_0.66_1.00_0.01,enc_auto/23fd2a2be53141ed810f4d3dcdcd01fa.png"
                    alt="White Facebook Icon"
                    style="
                      width: 27px;
                      height: 27px;
                      object-fit: cover;
                      object-position: 50% 50%;
                    "
                  />
                </wix-image>
              </a>
            </div>
            <div class="col-lg-1 col-md-1 col-1">
              <a
                data-testid="linkElement"
                href="https://www.instagram.com/wix/"
                target="_blank"
                class="_26AQd"
              >
                <wix-image
                  id="img_1_comp-im1spqmd"
                  class="_1-6YJ uWpzU"
                  data-image-info='{"containerId":"dataItem-im1srga9-comp-im1spqmd","displayMode":"fill","imageData":{"width":200,"height":200,"uri":"81af6121f84c41a5b4391d7d37fce12a.png","displayMode":"fill"}}'
                  data-has-bg-scroll-effect=""
                  data-bg-effect-name=""
                  data-is-svg="false"
                  data-is-svg-mask="false"
                  data-image-zoomed=""
                  data-has-ssr-src=""
                  data-src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_27,h_27,al_c,usm_0.66_1.00_0.01,enc_auto/81af6121f84c41a5b4391d7d37fce12a.png"
                >
                  <img
                    src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_27,h_27,al_c,usm_0.66_1.00_0.01,enc_auto/81af6121f84c41a5b4391d7d37fce12a.png"
                    alt="White Instagram Icon"
                    style="
                      width: 27px;
                      height: 27px;
                      object-fit: cover;
                      object-position: 50% 50%;
                    "
                  />
                </wix-image>
              </a>
            </div>
            <div class="col-lg-1 col-md-1 col-1">
              <a
                data-testid="linkElement"
                href="http://www.twitter.com/wix"
                target="_blank"
                class="_26AQd"
              >
                <wix-image
                  id="img_2_comp-im1spqmd"
                  class="_1-6YJ uWpzU"
                  data-image-info='{"containerId":"dataItem-im1srga91-comp-im1spqmd","displayMode":"fill","imageData":{"width":200,"height":200,"uri":"01ab6619093f45388d66736ec22e5885.png","displayMode":"fill"}}'
                  data-has-bg-scroll-effect=""
                  data-bg-effect-name=""
                  data-is-svg="false"
                  data-is-svg-mask="false"
                  data-image-zoomed=""
                  data-has-ssr-src=""
                  data-src="https://static.wixstatic.com/media/01ab6619093f45388d66736ec22e5885.png/v1/fill/w_27,h_27,al_c,usm_0.66_1.00_0.01,enc_auto/01ab6619093f45388d66736ec22e5885.png"
                >
                  <img
                    src="https://static.wixstatic.com/media/01ab6619093f45388d66736ec22e5885.png/v1/fill/w_27,h_27,al_c,usm_0.66_1.00_0.01,enc_auto/01ab6619093f45388d66736ec22e5885.png"
                    alt="White Twitter Icon"
                    style="
                      width: 27px;
                      height: 27px;
                      object-fit: cover;
                      object-position: 50% 50%;
                    "
                  />
                </wix-image>
              </a>
            </div>
            <div class="col-lg-1 col-md-1 col-1">
              <a
                data-testid="linkElement"
                href="http://youtube.com/user/Wix"
                target="_blank"
                class="_26AQd"
              >
                <wix-image
                  id="img_3_comp-im1spqmd"
                  class="_1-6YJ uWpzU"
                  data-image-info='{"containerId":"dataItem-im1srgaa-comp-im1spqmd","displayMode":"fill","imageData":{"width":200,"height":200,"uri":"203dcdc2ac8b48de89313f90d2a4cda1.png","displayMode":"fill"}}'
                  data-has-bg-scroll-effect=""
                  data-bg-effect-name=""
                  data-is-svg="false"
                  data-is-svg-mask="false"
                  data-image-zoomed=""
                  data-has-ssr-src=""
                  data-src="https://static.wixstatic.com/media/203dcdc2ac8b48de89313f90d2a4cda1.png/v1/fill/w_27,h_27,al_c,usm_0.66_1.00_0.01,enc_auto/203dcdc2ac8b48de89313f90d2a4cda1.png"
                >
                  <img
                    src="https://static.wixstatic.com/media/203dcdc2ac8b48de89313f90d2a4cda1.png/v1/fill/w_27,h_27,al_c,usm_0.66_1.00_0.01,enc_auto/203dcdc2ac8b48de89313f90d2a4cda1.png"
                    alt="White YouTube Icon"
                    style="
                      width: 27px;
                      height: 27px;
                      object-fit: cover;
                      object-position: 50% 50%;
                    "
                  />
                </wix-image>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg col-md col mt-4">
          <div class="row">
            <p
              class="font_7"
              style="font-size: 15px; line-height: normal; text-align: center"
            >
              <span style="letter-spacing: normal">
                <span class="color_8">
                  <span class="span_footer" style="font-size: 15px"
                    >123-456-7890 | 123-456-7890</span
                  >
                </span>
              </span>
            </p>
          </div>

          <div class="row">
            <p
              class="font_7"
              style="font-size: 15px; line-height: normal; text-align: center"
            >
              <span style="letter-spacing: normal">
                <span class="color_8">
                  <span class="span_footer" style="font-size: 15px"
                    >contacto@ongmichiguau.cl</span
                  >
                </span>
              </span>
            </p>
          </div>

          <div class="row">
            <p
              class="font_7"
              style="font-size: 15px; line-height: normal; text-align: center"
            >
              <span style="letter-spacing: normal">
                <span class="color_8">
                  <span class="span_footer" style="font-size: 15px"
                    >Av. Alonso ovalle #1500</span
                  >
                </span>
              </span>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
    <script src="{% static 'core/js/index.js'%}"></script>
  </body>
</html>
